.govsa-input {
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  color: $darkBlue;
  height: 2.32em;
  padding-left: 7px;
  width: 100%;

  &:focus {
    box-shadow: 0px 0 0 2px $yellow;
    -webkit-appearance: none;
    outline: none;
  }

  // Placeholder
  &::placeholder {
    color: $darkBlue;
    opacity: 0.5;
  }

  &:disabled,
  &[readonly] {
    background-color: $gray-pastel;
    border-color: $darkBlue;
  }

}

.govsa-input__label {
  margin: 0;
  display: block;
  color: $darkBlue;
  padding-left: 8px;
}

.govsa-errorMessage {
  color: $red;
  font-size: 14px;
  display: block;
  padding: 0px 0px 0px 8px;
}

.govsa-border--red {
  border-color: $red;
}

[dir="rtl"]  {
  .govsa-input{
    padding-right: 7px;
  }

  .govsa-input__label {
    padding-right: 8px;
  }
  .govsa-errorMessage {
    padding: 0px 8px 0px 0px;
  }
}