// bootstrap overrides
.justify-content-evenly {
  justify-content: space-evenly !important ;
}
// bootstrap overrides end

// govsa overrides
.govsa-card-stat {
  z-index: -1;
  &:hover {
    background: none;
  }
  img {
    position: absolute;
    height: 80%;
    top: 0%;
    width: 100%;
  }
}
.govsa-card__title {
  color: #3a3a3a;
}
.govsa-card__stat {
  color: $green-shade;
  font-weight: bold !important;
}
.govsa-card__tag {
  p {
    color: #a3a3a3;
    font-weight: 200;
    text-align: center;
    line-height: 1rem;
    vertical-align: middle;
  }
}
.govsa-card__tag--closed {
  color: #fff !important;
  background-color: $darkBlue !important;
}
.govsa-footer-light {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-between;
  @extend .align-items-center;
  .govsa-footer-link {
    &:hover {
      text-decoration: none;
    }
  }
  .feedback {
    @extend .col-9;
    border-radius: 3rem;
    box-shadow: -2px 8px 14px 0px rgba(0, 0, 0, 0.28);
    .govsa-footer-link{
        @extend .title;
    }
  }
  .footer-content {
    @extend .col-12;
  }
  .title {
    color: $green-tint;
  }
  .footer-link {
    color: #000 !important;
    padding-bottom: 0.5rem;
    &:hover {
      color: #000;
    }
  }

  .action-button {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-center;
    @extend .align-items-center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    box-shadow: 0rem 0.2rem 0.3rem 0rem rgba(0, 0, 0, 0.5);
    img {
      filter: invert(1);
      z-index: -1;
    }
    margin: 0.3rem;
  }
  .action-button--lg {
    width: 4rem;
    height: 4rem;
  }
  .action-button--md {
    width: 3rem;
    height: 3rem;
  }
  .social-links {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
  }
  .contact-us-div {
    @extend .d-flex;
  }
  .contact-tray {
    li {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .mb-2;
    }
  }
  .footer-strip {
    @extend .col-12;
    background: #000;
    color: #fff;
    .list-inline {
      a {
        color: white;
      }
    }
  }
}

// govsa overrides end
// generic
.color-black {
  color: #000;
}
.color-white {
  color: #fff;
}

.color-green {
  color: #26634b;
}

.text-bold {
  font-weight: bold !important;
}
.circle {
  border: 1px solid;
  border-radius: 50%;
}
.border-dark-blue {
  border-color: $darkBlue;
}
//generic
.cover-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cover-img {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  background: #000;

  &::after {
    background: #333;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.8;
  }
}

.banner-section {
  position: relative;
  height: 75vh;
  background: #eee;
  z-index: -2;
}
.cta {
  height: 100%;
}
.cta-header {
  color: white;
  font-size: calc(1rem + 4vw);
}
.cta-slogan {
  color: white;
  font-size: calc(1.5rem + 2vw);
}
.search-input {
  flex: none;

  input {
    position: relative;
    width: 100%;
    line-height: calc(4rem);
  }
}
.search-btn {
  position: absolute;
  width: 4rem;
  height: 100%;
  right: 0px;
  transform: translateX(-25%);
  border-top-right-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
  background-color: $darkBlue;
  border: $input-border-width solid $input-border-color;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4rem;
  padding: 0.3rem;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

.beddings-section {
  background: #eee;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    vertical-align: middle;
    z-index: -1;
  }
}
