.govsa-switch {

    .custom-control-label::before {
        border-color: $green;

    }

    .custom-control-label::after {
        background-color: $green;
    }

    .custom-control-input:checked~.custom-control-label::before {
        border-color: $white;
        background-color: $green;
        border-color: $green;
    }

    .custom-control-input:focus:not(:checked)~.custom-control-label::before {
        border-color: $green;
    }

    .custom-control-input:focus~.custom-control-label::before {
        box-shadow: 0 0 0 0.2rem $yellow;
    }

    :hover{
      cursor: pointer;  
    }
}
