.govsa-checkbox {
  display: block;
  position: relative;
  color: $darkBlue;
  padding-left: $form-check-padding-left;
  [dir="rtl"] & {
    padding-right: $form-check-padding-left;
  }
  
  padding-top: 3px;

  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    opacity: 0;

    &:hover~.govsa-checkbox__checkmark {
      box-shadow: 0 0 0 3px $gray-pastel;
      cursor: pointer;
    }

    &:active~.govsa-checkbox__checkmark,
    &:focus~.govsa-checkbox__checkmark {
      box-shadow: 0 0 0 3px $yellow;
    }

    &:checked~.govsa-checkbox__checkmark {
      background-color: $darkBlue;

      &:after {
        display: block;
      }
    }

    &:disabled{
      ~.govsa-checkbox__checkmark {
        background-color: $gray-tint;
        border: 1px solid $gray-tint;
      }
      &:hover~.govsa-checkbox__checkmark {
        box-shadow: none;
        cursor: auto;
      }
  
      &:active~.govsa-checkbox__checkmark,
      &:focus~.govsa-checkbox__checkmark {
        box-shadow: none;
      }
    }

  }

  .govsa-checkbox__checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    [dir="rtl"] & {
      right: 0;
    }
    height: 18px;
    width: 18px;
    background-color: $white;
    border: 1px solid $darkBlue;
    border-radius: 2px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 1px;
      width: 5px;
      height: 12px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(4deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

  }
}

[dir="rtl"] {
  .govsa-checkbox__checkmark {
    transform: scaleX(-1);
  }
}