.govsa-search--small{
    .govsa-search__input{
        height: 30px ;
    }

    .govsa-search__button{
        height: 32px ;
        width: 30px;
        i{
            position: relative;
            left: -10px;
            font-size: 18px;
            bottom: 11px;
        }
    }
  } 

.govsa-search__input {
    color: $darkBlue;
    border-radius: 8px 0px 0px 8px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    padding: 15px 10px 15px 10px;
    height: auto;

    &:focus {
       // border-color: $darkBlue;
        box-shadow: 0px 0 0 2px $yellow;
    }
}

.govsa-search__button {
    border-color: $darkBlue;
    background-color: $darkBlue;
    color: $white;
    border-radius: 0px 8px 8px 0px;
    margin: 0px 0px 0px 2px;
    width: 70px;
    font-size: 25px;
    padding:8px 15px 0px 20px;

    &:active {
        box-shadow: 0px 0 0 2px $yellow;
        outline: none;
        margin: 0px 0px 0px 5px;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        box-shadow: none;
    }
}

.govsa-clear__button {
    border-color: $darkBlue;
    background-color: $white;
    color: $darkBlue;
    margin: 0px 0px 0px 1px;
    padding-top: 8px;
    font-size: 12px;

    &:focus {
        outline: none;
    }
}

.govsa-search__container {
    border: 1px solid $darkBlue;
    position: relative;
    top: -13px;
    overflow: auto;
    height: 230px;

    .govsa-search__result {
        padding: 0px 0px 5px 10px;
        color: $darkBlue;
        margin-bottom: 5px;

        p {
            margin-bottom: 0px;
            font-weight: bold;
        }

        span {
            font-size: 0.88rem;
        }

        &:hover {
            background: $gray-pastel;
            cursor: pointer;

            a {
                color: $darkBlue;
                text-decoration: none;
            }
        }

        &:active {
            border: 1px solid $yellow;
            background-color: $white;
            margin: 0px 5px 0px 5px;
        }
    }
}

.govsa-advancedSearch {
    background-color: $darkBlue;
    border-radius: 0px 0px 7px 7px;
    padding: 5px 0px 5px 10px;
    position: relative;
    top: -17px;
    font-size: 1rem;

    a {
        color: $white;
    }

    &:hover {
        cursor: pointer;
    }
}

.input-group-append {
    margin: 0px 0px 0px -2px;
}
    