.govsa-tag{
    border: 1px solid $darkBlue;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    color: $darkBlue;
    font-size: 0.88rem;
    
    .govsa-clear__button{
      vertical-align: top;
      border: none;
      padding-top: 2%;
      &:active{
          outline: none;
          box-shadow: none;
      }
    }
}

[dir="rtl"] {
    .govsa-tag {
        vertical-align: middle;
        img {
           margin-top: 2px;
        }
    }
}