* {
  font-family: thesansb4_semilight;
}



[lang="en"] * {
  font-family: thesansb4_semilight;
}

[class^="subtitle--"]{
  font-family: thesansb4_semilight;
}

.govsa-subtitle {
  @include font-size($font-size-sm);
  font-weight:  $font-weight-normal;
}

.govsa-subtitle--underline {
  @include font-size( $font-size-sm * .875 );
  font-weight: $font-weight-normal;
  text-decoration: underline;
}


[class^="body--"]{
  font-family: thesansb4_semilight;
}
[class^="body--bold"]{
  font-family: thesansb8_extrabold;
}


.body--bold--1,.body--1 {
  @include font-size( $font-size-sm * .875 );
  font-weight:  $font-weight-normal;
}

.body--bold--2,.body--2{
  @include font-size($font-size-sm);
  font-weight: $font-weight-normal;
}
[class^="body--bold"]{
  font-family: thesansb8_extrabold;
  font-weight: $font-weight-bold;

}

 .bnt,button,button[class^="btn--"], a[class^="btn--"]{
  font-family: thesansb4_semilight !important ;
}


.govsa-btn--1{
  @include font-size( $font-size-base * 1.5 );
}
.govsa-btn--2{
  @include font-size( $font-size-base );
}
.govsa-btn--3{
  @include font-size( $font-size-sm );
}

[class^="footer--"]{
  font-family: thesansb4_semilight;
}

.govsa-footer--1 {
  @include font-size($font-size-sm);
  font-weight: $font-weight-normal;
}
.govsa-footer--2 {
  @include font-size( $font-size-sm * .875 );
  font-weight:  $font-weight-normal;
}



