.govsa-card__tag{
    float: right;
    padding:0.25rem 0 0.25rem 0.25rem ;
    text-align: center;
   p{
    background-color: $white;
    border-radius: 8px 0px 0px 8px;
    border-color: $green;
    color: $black;
    padding: 0.25rem;
    @include font-size( $font-size-sm * .875 );
    font-weight:  $font-weight-bold;
   } 

}

.govsa-card__footer{
    padding: 15px 0px 0px 0px;
    background-color: $green;
    border-radius: 0 0 6px 6px;
    height: 60px;

    div > div > span{
        font-weight: bold;
        padding-left: 15px;
    }
}

.govsa-card:hover{
    background-color: $green;
    cursor: pointer;
    color: $white;
}
.govsa-card:active{
    border-color: $yellow;
}
.govsa-card:active::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: $yellow;
    z-index: -1;
}
.govsa-card{
    height: 225px;
    // width: 302px;
}
.govsa-img{
    padding: 0px 5px 0px 0px;
    text-align: center;
}

.card-container-item{
    flex: 1 0 50%;
    margin: 5px;
}