.govsa-footer{
    
    background: $green-dark;
    color: $white;
    .govsa-footer-link{
        color: white;
        &:hover{
            text-decoration: none;
        }
    }
    .feedback-container{
        background: $green;
    }
    .govsa-footer__feedback{
        background: $green;
        display: flex;
        padding: 1.5rem ;
        align-items: center !important;
        justify-content: center !important;

    }
    .govsa-feedback__link{
        color: white;
        &:hover{
            text-decoration: none;
        }
    }

    .govsa-footer__container{
        padding-top: 25px;
        justify-content: space-around;
    }
    .govsa-footer__contact{
        a{
            margin: 0px 0px 0px 3.5rem;
            text-decoration:underline;
        }
        .govsa-contact__more{
            line-height: 4.4;
            vertical-align: bottom;
        }
        div{
            padding: 0.5rem;
        }
    }
}

.footer-bordered-div{
    &:not(first-child){
        margin-top: 5px;
    }
    vertical-align: middle;
    
}
.footer-div-border{
    border: 1px solid $white;
    border-radius: 8px;
    width: 300px;
    &:not(first-child){
        margin-top: 5px;
    }

}
// quick links
.footer-link{
    color: white;
    &:hover{
        color: white;

    }
}
.quick-links{
    list-style: none;
    & li:not(:first-child){
        padding-top: 10px;
    }
    li .footer-link{
        color: $white;
    }
}
.footer-divider{
    background: $green;
}

@media only screen and (max-width: 600px) {
    .feedback-container-div{
        display: flex;
        flex-direction: column;
        // font-size: 14px;
        & div.mr-4 , & div.ml-4{
            margin-left: 0!important;
            margin-right: 0!important;
            text-align: left;
            width: 100%;
        }
    }
    .footer-bordered-div{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .footer-div-border {
        // width: 300px;
        display: flex;
        flex-direction: row;

    }
    .contact-us-div{
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }
    .social-container{
        display: flex;
        flex-direction: row;
        .social-icons-container{
            display: flex;
            flex-direction: row;
            
        }
    }

}
