img{
    width: 100%;
}

 .carousel-indicators li{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: $darkBlue-pastel;
 }
 .carousel-indicators li.active{
    background-color: $darkBlue;
 }

 .govsa-icon--size{
   width: 90px;
   height: 90px;
}