.govsa-alert--warning{
    border-color: $warning;
    border-width: 2px 2px 2px 8px;;
    [dir="rtl"] & {
        border-width: 2px 8px 2px 2px;
    }
}

.govsa-alert--danger{
    border-color: $danger;
    border-width: 2px 2px 2px 8px;;
    [dir="rtl"] & {
        border-width: 2px 8px 2px 2px;
    }
    
}
.govsa-alert--info{
    border-color: $info;
    border-width: 2px 2px 2px 8px;;
    [dir="rtl"] & {
        border-width: 2px 8px 2px 2px;
    }
}
.govsa-alert--success{
    border-color: $success;
    border-width: 2px 2px 2px 8px;;
    [dir="rtl"] & {
        border-width: 2px 8px 2px 2px;
    }
}
.alert{
    color: $darkBlue;
    padding: 0.5rem 0.75rem;
    p{
        margin-bottom: 0px;
        padding-left: 26px;
        [dir="rtl"] & {
            padding-left: 0px;
            padding-right: 26px
        }
    }
    img{
        margin: 0px 10px 0px 0px;
        [dir="rtl"] & {
            margin: 0px 0px 0px 10px;
        }
    }
}
