 
.govsa-fileuploader{
    .govsa-file__name{
        background-color: white ; 
        color: $darkBlue;
        border:none;     
        &::placeholder {
            color: $darkBlue;
            // opacity: 1;
          } 
    }
    a{
        left: 15px;
        position: absolute;
        z-index: -1;
        font-size: 16px;
    }
    P{
        color: $darkBlue;
        margin-bottom: 0px;
   }
    input[type='file']{
        opacity: 0;
        height: 0px;
    }
}





.custom-file-label::after {
    content: "choose your file";
    background-color:$white;
    border: none;
    left: auto;
    right: auto;
    font-size: 16px;
    color: $darkBlue;
    font-weight: normal;
    

}
.custom-file-label,
.custom-file-label::after {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
.custom-file-label,
.custom-file-label::before {
  background-color: aqua;
  border: none;
  position: relative;
  display: table-footer-group;
}
