/** Bootstrap override **/
.table td {
  border-top: none;
}
.govsa-table tbody {
  border: 1px solid $green;
  margin-top: 2px;
}

.table-hover {
  tbody tr {
    &:hover {
      color: $white;
      background-color: $darkBlue-tint;
    }
  }
}
.table {
  max-height: 160px;
  border-spacing: 0;

  thead {
    border: 1px solid $green;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    th {
      border-bottom: none;
      vertical-align: baseline;
    }
  }
  .govsa-checkbox{
    margin-bottom: 0;
  }
}

.govsa-table {
  border-collapse: separate !important;
  border-spacing: 0;
  // border: 1px solid $green;
  border-radius: 10px;

  tr:last-child {
    td {
      border-bottom: none;
    }
  }
  td {
    border-bottom: 1px solid $gray-pastel;
  }

  th {
    background-color: $green;
    color: $white;
    border: none;
    &:first-child {
      border-top-left-radius: 8px;
    }
    &:last-child {
      border-top-right-radius: 8px;
    }
    // for arabic 
    [dir="rtl"] &:first-child{
      border-top-right-radius: 8px;
      border-top-left-radius: 0px;
      
    }
    [dir="rtl"] &:last-child{
      border-top-left-radius: 8px;
      border-top-right-radius: 0px;
    }
  }
}

.scrollable-table tbody {
 display: block;
  max-height: 160px;
  overflow: auto;
}

.scrollable-table thead,
.scrollable-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
