.govsa-accordion {
  .card {
    border: none;
    border-radius: 0px;
    .card-header {
      background-color: $white;
      border-radius: 0px;
      border: none;
      border-bottom: 1px solid $darkBlue;
      padding: 0.5rem 0.75rem;
      color: $darkBlue;
      text-align: inherit;
      margin-bottom: 0px;

      i {
        float: right;
        color: $darkBlue;
        margin: 5px 0px 0px 0px;
      }

      &:hover { 
        background-color: $darkBlue-tint;
        color: $white;
        cursor: pointer;

        i {
          color: $white;
          background-color: $darkBlue-tint;
          transition: all .2s;
        }
      }

      &:focus{
        outline: none;
        text-decoration: underline;
      }

      &[aria-expanded="true"] {
        border-bottom: none;
        i {
          -ms-transform: rotate(135deg);
          /* IE 9 */
          -webkit-transform: rotate(135deg);
          /* Safari 3-8 */
          transform: rotate(135deg);
        }
      }

    }

    .card-body {
      border: none;
      border-bottom: 1px solid $darkBlue;
      padding-top: 0.5rem;
      font-size: 14px;
      color: $darkBlue;
    }

    &:first-of-type {
      .card-header{
        border-top: 1px solid $darkBlue;
      }
    }

  }
}