$red:     #AF0818 !default;
$orange:  #FD7E14 !default;
$yellow:  #FFC107 !default;
$black:   #000000 !default;
$white:   #ffff !default;
$white-shade: #EAEAEA !default;
$success-color: #006604;
<<<<<<< HEAD
=======
$green-dark: #144D3F;
>>>>>>> Development

//primary colors
$green: #26634B;
$green-shade: #066058;
$green-tint: #27AA8C;
$green-pastel: #ACDDC7;

$darkBlue: #160F3E;
$darkBlue-shade: #1F255B ;
$darkBlue-tint: #444061;
$darkBlue-pastel: #CDCCD5;

//secondary colors

$tiffany: #0AEBD7;
$tiffany-shade: #046459 ;
$tiffany-tint: #4ECEBB;
$tiffany-pastel: #A9E2D7;

$blue: #005A96;
$blue-shade: #0053BA ;
$blue-tint: #0054AE;
$blue-pastel: #339EEC;

$violet: #5505CD;
$violet-shade: #3C2B7D ;
$violet-tint: #5830B4;
$violet-pastel: #AC9FD5;

//BW colors

$gray:#323232;
$gray-shade: #242424 ;
$gray-tint: #595959;
$gray-pastel: #EAEAEA;

$primary:       $green !default;
$secondary:     $blue !default;
$body-bg:       $white !default;
$success:       $success-color !default;
$info:          $blue-pastel !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white-shade !default;
// $dark:          $gray-800 !default; 
$theme-colors:(

"violet": $violet,
"violet-shade":$violet-shade,
"violet-tint":$violet-tint,
"violet-pastel":$violet-pastel,

"blue": $blue,
"blue-shade":$blue-shade,
"blue-tint":$blue-tint,
"blue-pastel":$blue-pastel,

"tiffany": $tiffany,
"tiffany-shade":$tiffany-shade,
"tiffany-tint":$tiffany-tint,
"tiffany-pastel":$tiffany-pastel,

"darkBlue": $darkBlue,
"darkBlue-shade":$darkBlue-shade,
"darkBlue-tint":$darkBlue-tint,
"darkBlue-pastel":$darkBlue-pastel,

"green": $green,
"green-shade":$green-shade,
"green-tint":$green-tint,
"green-pastel":$green-pastel,

"gray": $gray,
"gray-shade":$gray-shade,
"gray-tint":$gray-tint,
"gray-pastel":$gray-pastel,

"black": $black
);