.govsa-pagination {
  .page-link {
    border: none;
    border-radius: 50px;

    &:hover {
      background-color: $gray-pastel;
      color: $darkBlue;
    }

    &:active {
      background-color: $darkBlue;
      color: $white;

      i {
        color: $darkBlue;
      }
    }

    &:focus {
      z-index: 3;
      outline: none;
      box-shadow: none;
    }
  }

  .page-item {
    border: none;

    a {
      text-decoration: none;
    }

    &:not(:first-child) .page-link {
      margin-left: 5px;
    }

    &:last-child .page-link,
    &:first-child .page-link {
      &:hover {
        background-color: white;
      }

      &:focus {
        border-radius: 0;
        outline: 2px solid $yellow;
      }
    }

    &.active-page .page-link {
      color: $white;
      background-color: $darkBlue;
      border-radius: 50%;
    }

    &.disabled .page-link {
      pointer-events: none;
      cursor: auto;
    }
  }
}