.govsa-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.govsa--24 {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.govsa--alert {
  width: 35px;
  height: 32px;
  background-position: -48px 0;
}
.govsa--arrowdown {
  width: 48px;
  height: 32px;
  background-position: -96px 0;
}
.govsa--arrowleft {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.govsa--arrowright {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.govsa--arrowup {
  width: 48px;
  height: 32px;
  background-position: -288px 0;
}
.govsa--black_white_completed-form {
  width: 35px;
  height: 32px;
  background-position: -384px 0;
}
.govsa--black_white_completed-profile {
  width: 35px;
  height: 32px;
  background-position: -432px 0;
}
.govsa--black_white_documents {
  width: 35px;
  height: 32px;
  background-position: -480px 0;
}
.govsa--black_white_payment {
  width: 35px;
  height: 32px;
  background-position: -528px 0;
}
.govsa--black_white_profile {
  width: 35px;
  height: 32px;
  background-position: -576px 0;
}
.govsa--black_white_regulations {
  width: 35px;
  height: 32px;
  background-position: -624px 0;
}
.govsa--black_white_setting {
  width: 35px;
  height: 32px;
  background-position: -672px 0;
}
.govsa--black_white_statistics {
  width: 35px;
  height: 32px;
  background-position: 0 -48px;
}
.govsa--black_white_storage {
  width: 35px;
  height: 32px;
  background-position: -48px -48px;
}
.govsa--black_white_trade-register {
  width: 35px;
  height: 32px;
  background-position: -96px -48px;
}
.govsa--bookmark {
  width: 26px;
  height: 32px;
  background-position: -144px -48px;
}
.govsa--chat {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}
.govsa--checked {
  width: 32px;
  height: 32px;
  background-position: -240px -48px;
}
.govsa--close {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}
.govsa--closed {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}
.govsa--closeTag {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}
.govsa--Color {
  width: 32px;
  height: 32px;
  background-position: -432px -48px;
}
.govsa--colored_backgrounds_vs_colored_element_completed-form {
  width: 35px;
  height: 32px;
  background-position: -480px -48px;
}
.govsa--colored_backgrounds_vs_colored_element_completed-profile {
  width: 35px;
  height: 32px;
  background-position: -528px -48px;
}
.govsa--colored_backgrounds_vs_colored_element_documents {
  width: 35px;
  height: 32px;
  background-position: -576px -48px;
}
.govsa--colored_backgrounds_vs_colored_element_payment {
  width: 35px;
  height: 32px;
  background-position: -624px -48px;
}
.govsa--colored_backgrounds_vs_colored_element_profile {
  width: 35px;
  height: 32px;
  background-position: -672px -48px;
}
.govsa--colored_backgrounds_vs_colored_element_regulations {
  width: 35px;
  height: 32px;
  background-position: 0 -96px;
}
.govsa--colored_backgrounds_vs_colored_element_setting {
  width: 35px;
  height: 32px;
  background-position: -48px -96px;
}
.govsa--colored_backgrounds_vs_colored_element_statistics {
  width: 35px;
  height: 32px;
  background-position: -96px -96px;
}
.govsa--colored_backgrounds_vs_colored_element_storage {
  width: 35px;
  height: 32px;
  background-position: -144px -96px;
}
.govsa--colored_backgrounds_vs_colored_element_trade-register {
  width: 35px;
  height: 32px;
  background-position: -192px -96px;
}
.govsa--contact {
  width: 32px;
  height: 32px;
  background-position: -240px -96px;
}
.govsa--delete {
  width: 28px;
  height: 32px;
  background-position: -288px -96px;
}
.govsa--download {
  width: 32px;
  height: 32px;
  background-position: -336px -96px;
}
.govsa--download-white {
  width: 32px;
  height: 32px;
  background-position: -384px -96px;
}
.govsa--edit {
  width: 32px;
  height: 32px;
  background-position: -432px -96px;
}
.govsa--error {
  width: 32px;
  height: 32px;
  background-position: -480px -96px;
}
.govsa--export {
  width: 35px;
  height: 32px;
  background-position: -528px -96px;
}
.govsa--external {
  width: 37px;
  height: 32px;
  background-position: -576px -96px;
}
.govsa--eye {
  width: 43px;
  height: 32px;
  background-position: -624px -96px;
}
.govsa--favourite {
  width: 35px;
  height: 32px;
  background-position: 0 -144px;
}
.govsa--Filled_completed-form {
  width: 35px;
  height: 32px;
  background-position: -48px -144px;
}
.govsa--Filled_completed-profile {
  width: 35px;
  height: 32px;
  background-position: -96px -144px;
}
.govsa--Filled_documents {
  width: 35px;
  height: 32px;
  background-position: -144px -144px;
}
.govsa--Filled_payment {
  width: 35px;
  height: 32px;
  background-position: -192px -144px;
}
.govsa--Filled_profile {
  width: 35px;
  height: 32px;
  background-position: -240px -144px;
}
.govsa--Filled_regulations {
  width: 35px;
  height: 32px;
  background-position: -288px -144px;
}
.govsa--Filled_setting {
  width: 35px;
  height: 32px;
  background-position: -336px -144px;
}
.govsa--Filled_statistics {
  width: 35px;
  height: 32px;
  background-position: -384px -144px;
}
.govsa--Filled_storage {
  width: 35px;
  height: 32px;
  background-position: -432px -144px;
}
.govsa--Filled_trade-register {
  width: 35px;
  height: 32px;
  background-position: -480px -144px;
}
.govsa--home {
  width: 29px;
  height: 32px;
  background-position: -528px -144px;
}
.govsa--image {
  width: 32px;
  height: 32px;
  background-position: -576px -144px;
}
.govsa--info-copy {
  width: 32px;
  height: 32px;
  background-position: -624px -144px;
}
.govsa--info {
  width: 32px;
  height: 32px;
  background-position: -672px -144px;
}
.govsa--info-blue {
  width: 32px;
  height: 32px;
  background-position: -720px -144px;
}
.govsa--left {
  width: 16px;
  height: 32px;
  background-position: 0 -192px;
}
.govsa--lock {
  width: 29px;
  height: 32px;
  background-position: -48px -192px;
}
.govsa--mail {
  width: 35px;
  height: 32px;
  background-position: -96px -192px;
}
.govsa--menu {
  width: 46px;
  height: 32px;
  background-position: -144px -192px;
}
.govsa--Monochrome_completed-form {
  width: 35px;
  height: 32px;
  background-position: -240px -192px;
}
.govsa--Monochrome_completed-profile {
  width: 35px;
  height: 32px;
  background-position: -288px -192px;
}
.govsa--Monochrome_documents {
  width: 35px;
  height: 32px;
  background-position: -336px -192px;
}
.govsa--Monochrome_payment {
  width: 35px;
  height: 32px;
  background-position: -384px -192px;
}
.govsa--Monochrome_profile {
  width: 35px;
  height: 32px;
  background-position: -432px -192px;
}
.govsa--Monochrome_regulations {
  width: 35px;
  height: 32px;
  background-position: -480px -192px;
}
.govsa--Monochrome_setting {
  width: 35px;
  height: 32px;
  background-position: -528px -192px;
}
.govsa--Monochrome_statistics {
  width: 35px;
  height: 32px;
  background-position: -576px -192px;
}
.govsa--Monochrome_storage {
  width: 35px;
  height: 32px;
  background-position: -624px -192px;
}
.govsa--Monochrome_trade-register {
  width: 35px;
  height: 32px;
  background-position: -672px -192px;
}
.govsa--notification {
  width: 31px;
  height: 32px;
  background-position: 0 -240px;
}
.govsa--options {
  width: 9px;
  height: 32px;
  background-position: -48px -240px;
}
.govsa--Path {
  width: 32px;
  height: 32px;
  background-position: -96px -240px;
}
.govsa--plus {
  width: 32px;
  height: 32px;
  background-position: -144px -240px;
}
.govsa--renew {
  width: 29px;
  height: 32px;
  background-position: -192px -240px;
}
.govsa--right {
  width: 16px;
  height: 32px;
  background-position: -240px -240px;
}
.govsa--selected {
  width: 32px;
  height: 32px;
  background-position: -288px -240px;
}
.govsa--setting {
  width: 32px;
  height: 32px;
  background-position: -336px -240px;
}
.govsa--star {
  width: 34px;
  height: 32px;
  background-position: -384px -240px;
}
.govsa--success {
  width: 32px;
  height: 32px;
  background-position: -432px -240px;
}
.govsa--unchecked {
  width: 32px;
  height: 32px;
  background-position: -480px -240px;
}
.govsa--unselected {
  width: 32px;
  height: 32px;
  background-position: -528px -240px;
}
.govsa--upload {
  width: 32px;
  height: 32px;
  background-position: -576px -240px;
}
.govsa--user {
  width: 32px;
  height: 32px;
  background-position: -624px -240px;
}
.govsa--warning {
  width: 32px;
  height: 32px;
  background-position: -672px -240px;
}
.govsa--white_background_vs_colored_elements_completed-form {
  width: 35px;
  height: 32px;
  background-position: 0 -288px;
}
.govsa--white_background_vs_colored_elements_completed-profile {
  width: 35px;
  height: 32px;
  background-position: -48px -288px;
}
.govsa--white_background_vs_colored_elements_documents {
  width: 35px;
  height: 32px;
  background-position: -96px -288px;
}
.govsa--white_background_vs_colored_elements_payment {
  width: 35px;
  height: 32px;
  background-position: -144px -288px;
}
.govsa--white_background_vs_colored_elements_profile {
  width: 35px;
  height: 32px;
  background-position: -192px -288px;
}
.govsa--white_background_vs_colored_elements_regulations {
  width: 35px;
  height: 32px;
  background-position: -240px -288px;
}
.govsa--white_background_vs_colored_elements_setting {
  width: 35px;
  height: 32px;
  background-position: -288px -288px;
}
.govsa--white_background_vs_colored_elements_statistics {
  width: 35px;
  height: 32px;
  background-position: -336px -288px;
}
.govsa--white_background_vs_colored_elements_storage {
  width: 35px;
  height: 32px;
  background-position: -384px -288px;
}
.govsa--white_background_vs_colored_elements_trade-register {
  width: 35px;
  height: 32px;
  background-position: -432px -288px;
}
.govsa--zoom {
  width: 31px;
  height: 32px;
  background-position: -480px -288px;
}

