.govsa--radio-container {
  display: block;
  position: relative;
  padding-left: $form-check-padding-left;
  padding-top: 3px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

/* Hide the browser's default radio */

/* Create a custom radio */

.govsa--radio-checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: $white;
  border: 2px solid $darkBlue;
  border-radius: 40px;
}

/* On mouse-over */

.govsa--radio-container {
  &:hover input ~ .govsa--radio-checkmark {
    // background-color: #ccc;
    box-shadow: 0 0 0 3px $gray-pastel;
  }
  input:active ~ .govsa--radio-checkmark {
    box-shadow: 0 0 0 3px $yellow;
  }
  input:checked ~ .govsa--radio-checkmark {
    background-color: white;
  }
}

/* Create the checkmark/indicator (hidden when not checked) */

.govsa--radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.govsa--radio-container {
  input:checked ~ .govsa--radio-checkmark:after {
    display: block;
  }

  .govsa--radio-checkmark:after {
    left: 3px;
    top: 3px;
    border: 1px solid $darkBlue;
    border-width: 4px;
    border-radius: 50%;
  }
}
