@font-face {
    font-family: 'noto_naskh_arabicbold';
    src: url('../fonts/notonaskharabic-bold-webfont.woff2') format('woff2'),
         url('../fonts/notonaskharabic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 




@font-face {
    font-family: 'noto_naskh_arabicregular';
    src: url('../fonts/notonaskharabic-regular-webfont.woff2') format('woff2'),
         url('../fonts/notonaskharabic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thesansb4_semilight';
    src: url('../fonts/thesans-b4semilight-webfont.woff2') format('woff2'),
         url('../fonts/thesans-b4semilight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thesansb5_plain_italic';
    src: url('../fonts/thesans-b5plainitalic-webfont.woff2') format('woff2'),
         url('../fonts/thesans-b5plainitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thesansb8_extrabold';
    src: url('../fonts/thesans-b8extrabold-webfont.woff2') format('woff2'),
         url('../fonts/thesans-b8extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thesansplain';
    src: url('../fonts/thesansplain-webfont.woff2') format('woff2'),
         url('../fonts/thesansplain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_naskh_arabicbold';
    src: url('../fonts/notonaskharabic-bold-webfont.woff2') format('woff2'),
         url('../fonts/notonaskharabic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_naskh_arabicregular';
    src: url('../fonts/notonaskharabic-regular-webfont.woff2') format('woff2'),
         url('../fonts/notonaskharabic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thesansb4_semilight';
    src: url('../fonts/thesans-b4semilight-webfont.woff2') format('woff2'),
         url('../fonts/thesans-b4semilight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thesansb5_plain_italic';
    src: url('../fonts/thesans-b5plainitalic-webfont.woff2') format('woff2'),
         url('../fonts/thesans-b5plainitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thesansb8_extrabold';
    src: url('../fonts/thesans-b8extrabold-webfont.woff2') format('woff2'),
         url('../fonts/thesans-b8extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thesansplain';
    src: url('../fonts/thesansplain-webfont.woff2') format('woff2'),
         url('../fonts/thesansplain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}