.govsa-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .govsa--name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  
  .govsa--alert {
    width: 1.095703125em;
  }
  
  .govsa--arrowdown, .govsa--arrowup {
    width: 1.5em;
  }
  
  .govsa--black_white_completed-form, .govsa--black_white_completed-profile, .govsa--black_white_documents, .govsa--black_white_payment, .govsa--black_white_profile, .govsa--black_white_regulations, .govsa--black_white_setting, .govsa--black_white_statistics, .govsa--black_white_storage, .govsa--black_white_trade-register {
    width: 1.08203125em;
  }
  
  .govsa--bookmark {
    width: 0.7998046875em;
  }
  
  .govsa--colored_backgrounds_vs_colored_element_completed-form, .govsa--colored_backgrounds_vs_colored_element_completed-profile, .govsa--colored_backgrounds_vs_colored_element_documents, .govsa--colored_backgrounds_vs_colored_element_payment, .govsa--colored_backgrounds_vs_colored_element_profile, .govsa--colored_backgrounds_vs_colored_element_regulations, .govsa--colored_backgrounds_vs_colored_element_setting, .govsa--colored_backgrounds_vs_colored_element_statistics, .govsa--colored_backgrounds_vs_colored_element_storage, .govsa--colored_backgrounds_vs_colored_element_trade-register {
    width: 1.08203125em;
  }
  
  .govsa--delete {
    width: 0.875em;
  }
  
  .govsa--export {
    width: 1.099609375em;
  }
  
  .govsa--external {
    width: 1.1669921875em;
  }
  
  .govsa--eye {
    width: 1.3330078125em;
  }
  
  .govsa--favourite {
    width: 1.095703125em;
  }
  
  .govsa--Filled_completed-form, .govsa--Filled_completed-profile, .govsa--Filled_documents, .govsa--Filled_payment, .govsa--Filled_profile, .govsa--Filled_regulations, .govsa--Filled_setting, .govsa--Filled_statistics, .govsa--Filled_storage, .govsa--Filled_trade-register {
    width: 1.08203125em;
  }
  
  .govsa--home {
    width: 0.9091796875em;
  }
  
  .govsa--left {
    width: 0.5em;
  }
  
  .govsa--lock {
    width: 0.9091796875em;
  }
  
  .govsa--mail {
    width: 1.099609375em;
  }
  
  .govsa--menu {
    width: 1.4287109375em;
  }
  
  .govsa--Monochrome_completed-form, .govsa--Monochrome_completed-profile, .govsa--Monochrome_documents, .govsa--Monochrome_payment, .govsa--Monochrome_profile, .govsa--Monochrome_regulations, .govsa--Monochrome_setting, .govsa--Monochrome_statistics, .govsa--Monochrome_storage, .govsa--Monochrome_trade-register {
    width: 1.08203125em;
  }
  
  .govsa--notification {
    width: 0.9541015625em;
  }
  
  .govsa--options {
    width: 0.2919921875em;
  }
  
  .govsa--renew {
    width: 0.9091796875em;
  }
  
  .govsa--right {
    width: 0.5em;
  }
  
  .govsa--star {
    width: 1.0478515625em;
  }
  
  .govsa--white_background_vs_colored_elements_completed-form, .govsa--white_background_vs_colored_elements_completed-profile, .govsa--white_background_vs_colored_elements_documents, .govsa--white_background_vs_colored_elements_payment, .govsa--white_background_vs_colored_elements_profile, .govsa--white_background_vs_colored_elements_regulations, .govsa--white_background_vs_colored_elements_setting, .govsa--white_background_vs_colored_elements_statistics, .govsa--white_background_vs_colored_elements_storage, .govsa--white_background_vs_colored_elements_trade-register {
    width: 1.08203125em;
  }
  
  .govsa--zoom {
    width: 0.9755859375em;
  }