$icomoon-font-family: "govsa" !default;
$icomoon-font-path: "fonts" !default;

$govsa--24: "\e900";
$govsa--alert: "\e901";
$govsa--arrowdown: "\e902";
$govsa--arrowleft: "\e903";
$govsa--arrowright: "\e904";
$govsa--arrowup: "\e905";
$govsa--black_white_documents-path1: "\e921";
$govsa--black_white_documents-path2: "\e922";
$govsa--black_white_documents-path3: "\e923";
$govsa--black_white_documents-path4: "\e924";
$govsa--black_white_documents-path5: "\e925";
$govsa--black_white_documents-path6: "\e926";
$govsa--black_white_documents-path7: "\e927";
$govsa--black_white_documents-path8: "\e928";
$govsa--black_white_documents-path9: "\e929";
$govsa--black_white_documents-path10: "\e92a";
$govsa--black_white_payment-path1: "\e92b";
$govsa--black_white_payment-path2: "\e92c";
$govsa--black_white_payment-path3: "\e92d";
$govsa--black_white_payment-path4: "\e92e";
$govsa--black_white_payment-path5: "\e92f";
$govsa--black_white_payment-path6: "\e930";
$govsa--black_white_payment-path7: "\e931";
$govsa--black_white_payment-path8: "\e932";
$govsa--black_white_payment-path9: "\e933";
$govsa--black_white_payment-path10: "\e934";
$govsa--black_white_regulations: "\e942";
$govsa--black_white_setting-path1: "\e943";
$govsa--black_white_setting-path2: "\e944";
$govsa--black_white_setting-path3: "\e945";
$govsa--black_white_setting-path4: "\e946";
$govsa--black_white_setting-path5: "\e947";
$govsa--black_white_setting-path6: "\e948";
$govsa--black_white_setting-path7: "\e949";
$govsa--black_white_setting-path8: "\e94a";
$govsa--black_white_statistics-path1: "\e94b";
$govsa--black_white_statistics-path2: "\e94c";
$govsa--black_white_statistics-path3: "\e94d";
$govsa--black_white_statistics-path4: "\e94e";
$govsa--black_white_statistics-path5: "\e94f";
$govsa--black_white_statistics-path6: "\e950";
$govsa--black_white_statistics-path7: "\e951";
$govsa--black_white_statistics-path8: "\e952";
$govsa--black_white_statistics-path9: "\e953";
$govsa--black_white_statistics-path10: "\e954";
$govsa--black_white_statistics-path11: "\e955";
$govsa--bookmark: "\e96f";
$govsa--chat: "\e970";
$govsa--close: "\e972";
$govsa--closed: "\e973";
$govsa--closeTag-path1: "\e974";
$govsa--closeTag-path2: "\e975";
$govsa--Color: "\e976";
$govsa--colored_backgrounds_vs_colored_element_documents-path1: "\e994";
$govsa--colored_backgrounds_vs_colored_element_documents-path2: "\e995";
$govsa--colored_backgrounds_vs_colored_element_documents-path3: "\e996";
$govsa--colored_backgrounds_vs_colored_element_documents-path4: "\e997";
$govsa--colored_backgrounds_vs_colored_element_documents-path5: "\e998";
$govsa--colored_backgrounds_vs_colored_element_documents-path6: "\e999";
$govsa--colored_backgrounds_vs_colored_element_documents-path7: "\e99a";
$govsa--colored_backgrounds_vs_colored_element_documents-path8: "\e99b";
$govsa--colored_backgrounds_vs_colored_element_documents-path9: "\e99c";
$govsa--colored_backgrounds_vs_colored_element_documents-path10: "\e99d";
$govsa--colored_backgrounds_vs_colored_element_documents-path11: "\e99e";
$govsa--colored_backgrounds_vs_colored_element_documents-path12: "\e99f";
$govsa--colored_backgrounds_vs_colored_element_documents-path13: "\e9a0";
$govsa--colored_backgrounds_vs_colored_element_documents-path14: "\e9a1";
$govsa--colored_backgrounds_vs_colored_element_documents-path15: "\e9a2";
$govsa--colored_backgrounds_vs_colored_element_payment-path1: "\e9a3";
$govsa--colored_backgrounds_vs_colored_element_payment-path2: "\e9a4";
$govsa--colored_backgrounds_vs_colored_element_payment-path3: "\e9a5";
$govsa--colored_backgrounds_vs_colored_element_payment-path4: "\e9a6";
$govsa--colored_backgrounds_vs_colored_element_payment-path5: "\e9a7";
$govsa--colored_backgrounds_vs_colored_element_payment-path6: "\e9a8";
$govsa--colored_backgrounds_vs_colored_element_payment-path7: "\e9a9";
$govsa--colored_backgrounds_vs_colored_element_payment-path8: "\e9aa";
$govsa--colored_backgrounds_vs_colored_element_payment-path9: "\e9ab";
$govsa--colored_backgrounds_vs_colored_element_payment-path10: "\e9ac";
$govsa--colored_backgrounds_vs_colored_element_payment-path11: "\e9ad";
$govsa--colored_backgrounds_vs_colored_element_regulations-path1: "\e9bd";
$govsa--colored_backgrounds_vs_colored_element_regulations-path2: "\e9be";
$govsa--colored_backgrounds_vs_colored_element_regulations-path3: "\e9bf";
$govsa--colored_backgrounds_vs_colored_element_regulations-path4: "\e9c0";
$govsa--colored_backgrounds_vs_colored_element_regulations-path5: "\e9c1";
$govsa--colored_backgrounds_vs_colored_element_regulations-path6: "\e9c2";
$govsa--colored_backgrounds_vs_colored_element_regulations-path7: "\e9c3";
$govsa--colored_backgrounds_vs_colored_element_setting-path1: "\e9c4";
$govsa--colored_backgrounds_vs_colored_element_setting-path2: "\e9c5";
$govsa--colored_backgrounds_vs_colored_element_setting-path3: "\e9c6";
$govsa--colored_backgrounds_vs_colored_element_setting-path4: "\e9c7";
$govsa--colored_backgrounds_vs_colored_element_setting-path5: "\e9c8";
$govsa--colored_backgrounds_vs_colored_element_setting-path6: "\e9c9";
$govsa--colored_backgrounds_vs_colored_element_setting-path7: "\e9ca";
$govsa--colored_backgrounds_vs_colored_element_setting-path8: "\e9cb";
$govsa--colored_backgrounds_vs_colored_element_setting-path9: "\e9cc";
$govsa--colored_backgrounds_vs_colored_element_statistics-path1: "\e9cd";
$govsa--colored_backgrounds_vs_colored_element_statistics-path2: "\e9ce";
$govsa--colored_backgrounds_vs_colored_element_statistics-path3: "\e9cf";
$govsa--colored_backgrounds_vs_colored_element_statistics-path4: "\e9d0";
$govsa--colored_backgrounds_vs_colored_element_statistics-path5: "\e9d1";
$govsa--colored_backgrounds_vs_colored_element_statistics-path6: "\e9d2";
$govsa--colored_backgrounds_vs_colored_element_statistics-path7: "\e9d3";
$govsa--colored_backgrounds_vs_colored_element_statistics-path8: "\e9d4";
$govsa--colored_backgrounds_vs_colored_element_statistics-path9: "\e9d5";
$govsa--colored_backgrounds_vs_colored_element_statistics-path10: "\e9d6";
$govsa--contact: "\e9e9";
$govsa--delete: "\e9ea";
$govsa--download: "\e9eb";
$govsa--download-white: "\e9ec";
$govsa--edit: "\e9ed";
$govsa--error-path1: "\e9ee";
$govsa--error-path2: "\e9ef";
$govsa--export: "\e9f0";
$govsa--external: "\e9f1";
$govsa--eye: "\e9f2";
$govsa--favourite: "\e9f3";
$govsa--Filled_payment-path1: "\ea2a";
$govsa--Filled_payment-path2: "\ea2b";
$govsa--Filled_payment-path3: "\ea2c";
$govsa--Filled_payment-path4: "\ea2d";
$govsa--Filled_payment-path5: "\ea2e";
$govsa--Filled_payment-path6: "\ea2f";
$govsa--Filled_payment-path7: "\ea30";
$govsa--Filled_payment-path8: "\ea31";
$govsa--Filled_payment-path9: "\ea32";
$govsa--Filled_payment-path10: "\ea33";
$govsa--Filled_payment-path11: "\ea34";
$govsa--Filled_payment-path12: "\ea35";
$govsa--Filled_payment-path13: "\ea36";
$govsa--Filled_payment-path14: "\ea37";
$govsa--Filled_payment-path15: "\ea38";
$govsa--Filled_regulations-path1: "\ea4b";
$govsa--Filled_regulations-path2: "\ea4c";
$govsa--Filled_regulations-path3: "\ea4d";
$govsa--Filled_regulations-path4: "\ea4e";
$govsa--Filled_regulations-path5: "\ea4f";
$govsa--Filled_regulations-path6: "\ea50";
$govsa--Filled_regulations-path7: "\ea51";
$govsa--Filled_regulations-path8: "\ea52";
$govsa--Filled_regulations-path9: "\ea53";
$govsa--Filled_regulations-path10: "\ea54";
$govsa--Filled_statistics-path1: "\ea5f";
$govsa--Filled_statistics-path2: "\ea60";
$govsa--Filled_statistics-path3: "\ea61";
$govsa--Filled_statistics-path4: "\ea62";
$govsa--Filled_statistics-path5: "\ea63";
$govsa--Filled_statistics-path6: "\ea64";
$govsa--Filled_statistics-path7: "\ea65";
$govsa--Filled_statistics-path8: "\ea66";
$govsa--Filled_statistics-path9: "\ea67";
$govsa--Filled_statistics-path10: "\ea68";
$govsa--Filled_statistics-path11: "\ea69";
$govsa--Filled_statistics-path12: "\ea6a";
$govsa--Filled_statistics-path13: "\ea6b";
$govsa--Filled_statistics-path14: "\ea6c";
$govsa--home: "\ea8f";
$govsa--image: "\ea90";
$govsa--info-copy-path1: "\ea91";
$govsa--info-copy-path2: "\ea92";
$govsa--info: "\ea93";
$govsa--info-blue-path1: "\ea94";
$govsa--info-blue-path2: "\ea95";
$govsa--left: "\ea96";
$govsa--lock: "\ea97";
$govsa--mail: "\ea98";
$govsa--menu: "\ea99";
$govsa--Monochrome_documents-path1: "\eaaf";
$govsa--Monochrome_documents-path2: "\eab0";
$govsa--Monochrome_documents-path3: "\eab1";
$govsa--Monochrome_documents-path4: "\eab2";
$govsa--Monochrome_documents-path5: "\eab3";
$govsa--Monochrome_documents-path6: "\eab4";
$govsa--Monochrome_documents-path7: "\eab5";
$govsa--Monochrome_documents-path8: "\eab6";
$govsa--Monochrome_documents-path9: "\eab7";
$govsa--Monochrome_documents-path10: "\eab8";
$govsa--Monochrome_documents-path11: "\eab9";
$govsa--Monochrome_documents-path12: "\eaba";
$govsa--Monochrome_documents-path13: "\eabb";
$govsa--Monochrome_payment-path1: "\eabc";
$govsa--Monochrome_payment-path2: "\eabd";
$govsa--Monochrome_payment-path3: "\eabe";
$govsa--Monochrome_payment-path4: "\eabf";
$govsa--Monochrome_payment-path5: "\eac0";
$govsa--Monochrome_payment-path6: "\eac1";
$govsa--Monochrome_payment-path7: "\eac2";
$govsa--Monochrome_payment-path8: "\eac3";
$govsa--Monochrome_payment-path9: "\eac4";
$govsa--Monochrome_payment-path10: "\eac5";
$govsa--Monochrome_regulations: "\ead4";
$govsa--Monochrome_setting-path1: "\ead5";
$govsa--Monochrome_setting-path2: "\ead6";
$govsa--Monochrome_setting-path3: "\ead7";
$govsa--Monochrome_setting-path4: "\ead8";
$govsa--Monochrome_setting-path5: "\ead9";
$govsa--Monochrome_setting-path6: "\eada";
$govsa--Monochrome_setting-path7: "\eadb";
$govsa--Monochrome_setting-path8: "\eadc";
$govsa--Monochrome_statistics-path1: "\eadd";
$govsa--Monochrome_statistics-path2: "\eade";
$govsa--Monochrome_statistics-path3: "\eadf";
$govsa--Monochrome_statistics-path4: "\eae0";
$govsa--Monochrome_statistics-path5: "\eae1";
$govsa--Monochrome_statistics-path6: "\eae2";
$govsa--Monochrome_statistics-path7: "\eae3";
$govsa--Monochrome_statistics-path8: "\eae4";
$govsa--Monochrome_statistics-path9: "\eae5";
$govsa--Monochrome_statistics-path10: "\eae6";
$govsa--notification: "\eaf7";
$govsa--options: "\eaf8";
$govsa--Path: "\eaf9";
$govsa--plus: "\eafa";
$govsa--renew: "\eafb";
$govsa--right: "\eafc";
$govsa--setting: "\eaff";
$govsa--star: "\eb00";
$govsa--success-path1: "\eb01";
$govsa--success-path2: "\eb02";
$govsa--upload: "\eb05";
$govsa--user: "\eb06";
$govsa--white_background_vs_colored_elements_documents-path1: "\eb1d";
$govsa--white_background_vs_colored_elements_documents-path2: "\eb1e";
$govsa--white_background_vs_colored_elements_documents-path3: "\eb1f";
$govsa--white_background_vs_colored_elements_documents-path4: "\eb20";
$govsa--white_background_vs_colored_elements_documents-path5: "\eb21";
$govsa--white_background_vs_colored_elements_documents-path6: "\eb22";
$govsa--white_background_vs_colored_elements_documents-path7: "\eb23";
$govsa--white_background_vs_colored_elements_documents-path8: "\eb24";
$govsa--white_background_vs_colored_elements_documents-path9: "\eb25";
$govsa--white_background_vs_colored_elements_documents-path10: "\eb26";
$govsa--white_background_vs_colored_elements_documents-path11: "\eb27";
$govsa--white_background_vs_colored_elements_documents-path12: "\eb28";
$govsa--white_background_vs_colored_elements_payment-path1: "\eb29";
$govsa--white_background_vs_colored_elements_payment-path2: "\eb2a";
$govsa--white_background_vs_colored_elements_payment-path3: "\eb2b";
$govsa--white_background_vs_colored_elements_payment-path4: "\eb2c";
$govsa--white_background_vs_colored_elements_payment-path5: "\eb2d";
$govsa--white_background_vs_colored_elements_payment-path6: "\eb2e";
$govsa--white_background_vs_colored_elements_payment-path7: "\eb2f";
$govsa--white_background_vs_colored_elements_payment-path8: "\eb30";
$govsa--white_background_vs_colored_elements_payment-path9: "\eb31";
$govsa--white_background_vs_colored_elements_payment-path10: "\eb32";
$govsa--white_background_vs_colored_elements_regulations-path1: "\eb41";
$govsa--white_background_vs_colored_elements_regulations-path2: "\eb42";
$govsa--white_background_vs_colored_elements_regulations-path3: "\eb43";
$govsa--white_background_vs_colored_elements_regulations-path4: "\eb44";
$govsa--white_background_vs_colored_elements_regulations-path5: "\eb45";
$govsa--white_background_vs_colored_elements_regulations-path6: "\eb46";
$govsa--white_background_vs_colored_elements_setting-path1: "\eb47";
$govsa--white_background_vs_colored_elements_setting-path2: "\eb48";
$govsa--white_background_vs_colored_elements_setting-path3: "\eb49";
$govsa--white_background_vs_colored_elements_setting-path4: "\eb4a";
$govsa--white_background_vs_colored_elements_setting-path5: "\eb4b";
$govsa--white_background_vs_colored_elements_setting-path6: "\eb4c";
$govsa--white_background_vs_colored_elements_setting-path7: "\eb4d";
$govsa--white_background_vs_colored_elements_setting-path8: "\eb4e";
$govsa--white_background_vs_colored_elements_statistics-path1: "\eb4f";
$govsa--white_background_vs_colored_elements_statistics-path2: "\eb50";
$govsa--white_background_vs_colored_elements_statistics-path3: "\eb51";
$govsa--white_background_vs_colored_elements_statistics-path4: "\eb52";
$govsa--white_background_vs_colored_elements_statistics-path5: "\eb53";
$govsa--white_background_vs_colored_elements_statistics-path6: "\eb54";
$govsa--white_background_vs_colored_elements_statistics-path7: "\eb55";
$govsa--white_background_vs_colored_elements_statistics-path8: "\eb56";
$govsa--white_background_vs_colored_elements_statistics-path9: "\eb57";
$govsa--white_background_vs_colored_elements_statistics-path10: "\eb58";
$govsa--white_background_vs_colored_elements_statistics-path11: "\eb59";
$govsa--zoom: "\eb6a";

